<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Order Management System</title>
  <link rel="stylesheet" href='/stylesheets/index.css'>
</head>
<body>
  <div class="container">
    <div class="col"></div>
    <div class="body">
      <div class="menu-bar">
        <ul>
          <li><a href="/items" class="active">Menu Items</a></li>
          <li><a href="/categories" class="router">Categories</a></li>
          <li><a href="/orders" class="router">Orders</a></li>
          <li><a href="/customers" class="router">Customers</a></li>
          <li><a href="/cart" class="router"><img src="/img/cart.png" alt="Cart" width="20" height="20"></a></li>
        </ul>
      </div>
      <div class="header">
        <div class="header-title">
          <h1>Menu Items</h1> 
        </div>
        <div class="header-router">
          <a href="/items/new" class="router right">Add +</a>
        </div>
      </div>
      <form action="/items" class="search">
        <div class="search-bar">
          <% if query.nil? %>
            <input type="text" placeholder="Search.." name="q" class="search roboto">
          <% else %>
            <input type="text" placeholder=<%= query %> name="q" class="search roboto">
          <% end %>
        </div>
        <div class="search-button">
          <button type="submit"><img src="/img/search.png" alt="Search" width="20" height="20"></button>
        </div>
      </form>
      <div class="content roboto black table-div">
        <table id="table">
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Action</th>
          </tr>
          <% items.each do |item| %>
            <tr>
              <td><%= item.name %></td>
              <td><%= item.price %></td>
              <td><%= item.categories_to_s %></td>
              <td>
                <a href="/items/detail/<%= item.id %>" class="router margin-right"><img src="/img/detail.png" alt="Detail" width="20" height="20"></a>
                <a href="/items/edit/<%= item.id %>" class="router margin-right"><img src="/img/edit.png" alt="Edit" width="20" height="20"></a>
                <a href="/items/delete/<%= item.id %>" class="router margin-right"><img src="/img/delete.png" alt="Delete" width="20" height="20"></a>
                <a href="/cart/add/<%= item.id %>" class="router margin-right"><img src="/img/cart.png" alt="Add to cart" width="20" height="20"></a>
              </td>
            </tr>
          <% end %>
        </table>
        <br>
        <div class="pagination">
          <% 1.upto(max_page) do |page_idx| %>
            <% if page_idx == page %>
              <a class="active" href="/items/page/"><%= page_idx %></a>
            <% else %>
              <a href="/items/page/<%= page_idx %>"><%= page_idx %></a>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</body>