<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Order Management System</title>
  <link rel="stylesheet" href='/stylesheets/index.css'>
</head>
<body>
  <div class="container">
    <div class="col"></div>
    <div class="body">
      <div class="menu-bar">
        <ul>
          <li><a href="/items" class="router">Menu Items</a></li>
          <li><a href="/categories" class="active">Categories</a></li>
          <li><a href="/items" class="router">Orders</a></li>
          <li><a href="/customers" class="router">Customers</a></li>
        </ul>
      </div>
      <div class="header">
        <div class="header-title">
          <h1>Edit Category <%= category.name.split.map(&:capitalize).join(' ') %></h1> 
        </div>
        <div class="header-router">
          <a href="/categories" class="router right">Back</a>
        </div>
      </div>
      <form method="POST" action="/categories/update/<%= category.id %>">
        <div class="content roboto black">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" value="<%= category.name %>" disabled>
          <table id="table">
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
            <% category.get_items.each do |item| %>
              <tr>
                <td><%= item.name %></td>
                <td><%= item.price %></td>
                <td>
                <a href="/categories/detail/<%= category.id %>/delete-item/<%= item.id %>" class="router margin-right"><img src="/img/delete.png" alt="Delete" width="20" height="20"></a>
                </td>
              </tr>
            <% end %>
          </table>
          <a href="/categories/delete/<%= category.id %>" class="router">Delete</a>
          <a href="/categories/edit/<%= category.id %>" class="router">Edit</a>
        </div>
      </form>
    </div>
    <div class="col"></div>
  </div>
</body>