<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Go Food App</title>
  <link rel="stylesheet" href='/stylesheets/index.css'>
</head>
<body>
  <div class="container">
    <div class="col"></div>
    <div class="body">
      <div class="menu-bar">
        <ul>
          <li><a href="/items" class="router">Menu Items</a></li>
          <li><a href="/categories" class="router">Categories</a></li>
          <li><a href="/items" class="router">Orders</a></li>
          <li><a href="/customers" class="active">Customers</a></li>
        </ul>
      </div>
      <div class="header">
        <div class="header-title">
          <h1>Customer <%= customer.name.split.map(&:capitalize).join(' ') %></h1> 
        </div>
        <div class="header-router">
           <a href="/customers" class="router right">Back</a>
        </div>
      </div>
      <form method="POST" action="/customers/update/<%= customer.id %>">
        <div class="content roboto black">
          <label for="name">Name</label>
          <br>
          <input type="text" id="name" name="name" value="<%= customer.name %>" disabled>
          <br>
          <label for="phone">Phone</label>
          <input type="text" id="phone" name="phone" value="<%= customer.phone %>" disabled>
          <a href="/customers/delete/<%= customer.id %>" class="router">Delete</a>
          <a href="/customers/edit/<%= customer.id %>" class="router">Edit</a>
        </div>
      </form>
    </div>
  </div>
</body>
</html>