<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Order Management System</title>
  <link rel="stylesheet" href='/stylesheets/index.css'>
</head>
<body>
  <div class="container">
    <div class="col"></div>
    <div class="body">
      <div class="menu-bar">
        <ul>
          <li><a href="/items" class="router">Menu Items</a></li>
          <li><a href="/categories" class="router">Categories</a></li>
          <li><a href="/orders" class="active">Orders</a></li>
          <li><a href="/customers" class="router">Customers</a></li>
          <li><a href="/cart" class="router"><img src="/img/cart.png" alt="Cart" width="20" height="20"></a></li>
        </ul>
      </div>
      <div class="header">
        <div class="header-title">
          <h1>Order Details</h1> 
        </div>
        <div class="header-router">
           <a href="/orders" class="router right">Back</a>
        </div>
      </div>
      <form method="POST" action="/items/update/">
        <div class="content roboto black">
          <label for="name">Customer Name</label>
          <br>
          <input type="text" id="name" name="name" value="<%= order.customer.name %>" disabled>
          <br>
          <label for="phone">Customer Phone</label>
          <br>
          <input type="text" id="phone" name="phone" value="<%= order.customer.phone %>" disabled>
          <br>
          <label for="date_time">DateTime</label>
          <br>
          <input type="text" id="date_time" name="date_time" value="<%= order.order_date_time %>" disabled>
          <br>
          <label for="items">Items</label>
          <br>
          <br>
          <table id="table">
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Price</th>
              <th>Quantity</th>
            </tr>
            <% order.items.each do |item| %>
              <tr>
                <td><%= item[:item].name %></td>
                <td><%= item[:item].categories_to_s %></td>
                <td><%= item[:item].price %></td>
                <td><%= item[:quantity] %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </form>
      </div>
    </div>
    <div class="col"></div>
  </div>
</body>
</html>